<div class="container">

  <%if  flash[:danger] %>
  <div class="alert alert-danger" role="alert">
  <%= flash[:danger] %>
  </div>
  <%end%>
  </p>
  <div class="jumbotron col-md-8 col-md-offset-2">
  <pre>
  <%= @lect.title %>

  <%= @lect.content %>


  Download:<a href="<%= @lect.attach_url %>" download><%= @lect.attach %></a> <% if current_user&&@lect.user==current_user  %>
<h4><%= link_to 'Edit', edit_lect_path(@lect) %>|<%= link_to 'Delete', lects_path %></h4>
     
<% end %></pre>
  <%= link_to like_lect_path(@lect) , method: :put do %>
  <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center " > </span>
        <span class="badge"><%= @lect.get_upvotes.size %></span>
  </button>        
 <% end  %>     
 <%= link_to unlike_lect_path(@lect) , method: :put do %>
    <button type="button" class="btn btn-info">
          <span class=" info glyphicon glyphicon-thumbs-down glyphicon-align-center "> </span>
          <span class="badge"><%= @lect.get_downvotes.size %></span>
    </button>
<!--     if disliks becoms 2 , lecture becomes span
 -->    <%if  @lect.get_downvotes.size==1%>
     <% Lect.destroy(@lect.id)%>
      <%end%>
 <% end  %>
 
 <div id="comments">
 <h2><u>Comments</u></h2><br>
    <%= render :partial => @lect.comments %>
 </div><br>

</div>

<div class="col-md-2"></div>

<div class="jumbotron col-md-8 col-md-offset-2">
<h2> Leave comment </h2>
      <%= simple_form_for [@lect ,Comment.new] do |f| %>
       <p>
          <%= f.input :comment_content , as: :text , input_html: { row:"2" } %>
       </p>
       <div class="btn">
           <%= f.submit "Add " , class:'btn btn-info'  %>
           <%end%>
       </div>   

   
   </div> 
    <div class="jumbotron col-md-8 col-md-offset-2">
        <h4><%= link_to 'Back', course_path(@lect.course.id) %></h4>
    </div></div>